.datepicker{
    position: absolute;
    left: 29px;
    top: 1487px;
}

.datepicker1{
    position: absolute;
    left: 641px;
    top: 1487px;
    
}

.pickertwo{
    position: absolute;
    left: 303px;
    top: 1487px;
}

.pickertwo1{
    position: absolute;
    left: 915px;
    top: 1487px;
}