.main{
    position: absolute;
    width: 1920px;
    height: 2233px;
    background: #F8F8FA;
}

.main_text{
    position: absolute;
    width: 118px;
    height: 49px;
    left: 360px;
    top: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */
    color: #351768;
}

.main_center{
    position: absolute;
    left: 18.75%;
    right: 18.75%;
    top: 8.91%;
    bottom: 4.48%;
    background: #FFFFFF;
    border-radius: 4px;
}

.main_info{
    position: absolute;
    width: 296px;
    height: 22px;
    left: 30px;
    top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #211536;
}

.main_organizer{
    position: absolute;
    width: 112px;
    height: 20px;
    left: 30px;
    top: 102px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #211536;
}

.main_input{
    box-sizing: border-box;
    position: absolute;
    width: 1141px;
    height: 58px;
    left: 30px;
    top: 132px;
    border: 1px solid #CDB1FB;
    border-radius: 4px;
}

::placeholder{
    position: absolute;
    top: 18px;
    left: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #211536;
    transform: rotate(-0.02deg);
}

.main_contact{
    position: absolute;
    width: 195px;
    height: 22px;
    left: 29px;
    top: 230px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #211536;
}

.main_phone{
    position: absolute;
    width: 75px;
    height: 20px;
    left: 29px;
    top: 282px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #211536;
}

.main_email{
    position: absolute;
    width: 73px;
    height: 20px;
    left: 416px;
    top: 282px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #211536;
}

.main_city{
    position: absolute;
    width: 173px;
    height: 20px;
    left: 803px;
    top: 282px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #211536;
}

.main_number{
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 58px;
    left: 29px;
    top: 312px;
    border: 1px solid #CDB1FB;
    border-radius: 4px;
}

.main_mail{
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 58px;
    left: 416px;
    top: 312px;
    border: 1px solid #CDB1FB;
    border-radius: 4px;
}

.main_kzn{
    box-sizing: border-box;
    position: absolute;
    width: 367px;
    height: 58px;
    left: 803px;
    top: 312px;
    border: 1px solid #CDB1FB;
    border-radius: 4px;
}

.main_about_info{
    position: absolute;
    width: 197px;
    height: 22px;
    left: 30px;
    top: 410px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #211536;
}

.main_title{
    position: absolute;
    width: 84px;
    height: 20px;
    left: 30px;
    top: 462px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #211536;
}

.main_input_title{
    box-sizing: border-box;
    position: absolute;
    width: 1137px;
    height: 58px;
    left: 30px;
    top: 492px;
    border: 1px solid #CDB1FB;
    border-radius: 4px;
}

.main_photo{
    position: absolute;
    width: 107px;
    height: 20px;
    left: 30px;
    top: 590px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #211536;
}