.next{
    position: absolute;
    width: 1950px;
    height: 1300px;
    left: -15px;
    top: -104px;
    background: #F8F8FA;
}


.next_text{
    position: absolute;
    width: 126px;
    height: 49px;
    left: 405px;
    top: 207px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */
    color: #351768;
}

.next_center{
    position: absolute;
    width: 1201px;
    height: 931px;
    left: 405px;
    top: 306px;
    background: #FFFFFF;
    border-radius: 4px;
}

.next_panel{
    position: absolute;
    width: 1141px;
    height: 80px;
    left: 34px;
    top: 28px;
    background: #FFFFFF;
    box-shadow: 0px 8px 25px rgba(155, 99, 248, 0.15);
    border-radius: 4px;
}

.icon{
    position: absolute;
    left: 25px;
    top: 19.56px;
}

.next_panel_title{
    position: absolute;
    width: 1035px;
    height: 19.56px;
    left:91px;
    top: 29.33px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #211536;
}

.next_contatct{
    position: absolute;
    width: 82px;
    height: 20px;
    left: 98px;
    top: 430px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #211536;
}

.phone{
    position: absolute;
    left: 99px;
    top: 464px;
}

.mail{
    position: absolute;
    left: 99px;
    top: 493px;
}

.phone_text{
    position: absolute;
    width: 282px;
    height: 17px;
    left: 128px;
    top: 463px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #211536;
    opacity: 0.6;
}


.mail_text{
    position: absolute;
    width: 282px;
    height: 17px;
    left: 128px;
    top: 490px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #211536;
    opacity: 0.6;
}

.city{
    position: absolute;
    left: 99.36px;
    top: 316.42px;
}

.city_text{
    position: absolute;
    width: 302px;
    height: 21px;
    left: 129px;
    top: 316.42px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #211536;
    opacity: 0.6;
}

.calender{
    position: absolute;
    left: 98px;
    top:353.22px;
}

.times{
    position: absolute;
    left: 99px;
    top: 388.6px;
}

.calender_text{
    width: 286px;
    height: 22px;
    position: absolute;
    left: 129px;
    top: 350px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #211536;
    opacity: 0.6;
}

.times_text{
    position: absolute;
    width: 181px;
    height: 21px;
    left: 129px;
    top: 386px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #211536;
    opacity: 0.6;
}

.next_title{
    position: absolute;
    width: 415px;
    height: 115px;
    left: 98px;
    top: 168px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #351768;
}

.next_o{
    position: absolute;
    width: 81px;
    height: 20px;
    left: 99px;
    top: 532.25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #211536;
}

.next_o_title{
    position: absolute;
    width: 170.77px;
    height: 12px;
    left: 96px;
    top: 553.25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #8E69CC;
}

.next_description{
    position: absolute;
    width: 1109px;
    height: 144px;
    left: 34px;
    top: 626px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    color: #211536;

}